@{
    ViewData["Title"] = "About";
}

<div class="flex flex-col items-center justify-center gap-20">

    <div class="flex flex-col items-center justify-center gap-4">
        <img
            src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>I'm a Software Engineer</div>

    </div>



    <div class="flex flex-col items-center justify-center gap-4">
        <img
            src="https://images.pexels.com/photos/5015450/pexels-photo-5015450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>I enjoy the outdoors</div>

    </div>


</div>
