@{
    ViewBag.Title = "About";
}

<div class="flex flex-col items-center justify-center gap-20">

    <div class="flex flex-col items-center justify-center gap-4">
        <img class="rounded-xl"
            src="https://images.pexels.com/photos/269724/pexels-photo-269724.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>
            I find it interesting to learn about the various ways people communicate and express themselves in different
            parts of the world. Whether it's through reading, watching movies, or online research, I appreciate the
            opportunity to broaden my knowledge of other countries and their unique customs and traditions.
        </div>
    </div>

    <hr class="w-full" />

    <div class="flex flex-col items-center justify-center gap-4">
        <img class="rounded-xl"
            src="https://images.pexels.com/photos/5015450/pexels-photo-5015450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>
            I really love spending time outside, whether it's going for a hike in the woods, walking along a beach, or
            simply sitting in a park.
        </div>

    </div>

    <hr class="w-full" />

    <div class="flex flex-col items-center justify-center gap-4">
        <img class="rounded-xl"
            src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>
            And of course, I'm a software engineer. I work on developing computer programs and applications.
        </div>

    </div>

</div>

</div>