@{
    ViewData["Title"] = "About";
}

<div class="flex flex-col items-center justify-center gap-20">

    <div class="flex flex-col items-center justify-center gap-4">
        <img class="rounded-xl"
            src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>
            I'm a software engineer, and I work on developing computer programs and applications.
        </div>

    </div>

    <hr class="w-full" />

    <div class="flex flex-col items-center justify-center gap-4">
        <img class="rounded-xl"
            src="https://images.pexels.com/photos/5015450/pexels-photo-5015450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" />

        <div>
            Well, when I say "I enjoy the outdoors,"
            what I mean is that I really love spending
            time outside, breathing in the fresh air
            and taking in the natural beauty around
            me. There's just something so rejuvenating
            about being out in nature that makes me
            feel alive and energized.
        </div>

    </div>

</div>