@{
    ViewBag.Title = "Blog";
}

<div class="flex flex-col">

    @await Component.InvokeAsync("BlogPost", "Content/BlogPosts/online-store-app.md")

    <hr class="mt-10 mb-10" />

    @await Component.InvokeAsync("BlogPost", "Content/BlogPosts/todo-list-app.md")

    <hr class="mt-10 mb-10" />

    @await Component.InvokeAsync("BlogPost", "Content/BlogPosts/styling-with-scss.md")

    <hr class="mt-10 mb-10" />

    @await Component.InvokeAsync("BlogPost", "Content/BlogPosts/2-week-sprint.md")

    <hr class="mt-10 mb-10" />

    @await Component.InvokeAsync("BlogPost", "Content/BlogPosts/crypto-mining.md")

</div>