@{
    ViewBag.Title = "Projects";
}


<div class="flex flex-col justify-center items-center gap-16">

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "ChatGPT Formal Translator Mobile App",
    sourceLink = 
    "https://github.com/ramvilsil/react-native-chatgpt",
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "E-commerce Web App", 
    imageSrc =
    "/images/rufolt-logo.png",
    textArea = 
    "Custom-built e-commerce web app with features such as product search, shopping cart, and secure checkout, developed from scratch using modern web technologies.",
    liveLink = 
    "https://rufolt.com"
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Custom Crypto Mining Rig Build"
    })

</div>