@{
    ViewData["Title"] = "Projects";
}


<div class="w-full flex">

    <div class="w-max flex flex-col gap-4">
        @await Component.InvokeAsync("SectionTitle", "E-commerce Web App")

        <div class="w-72 h-72 bg-black rounded-xl"> </div>

    </div>

    <div class="w-full flex justify-center">
        <div>Programmed with C#</div>
    </div>

</div>
