@{
    ViewBag.Title = "Projects";
}


<div class="flex flex-col justify-center items-center gap-16">

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Unique Image Generator App (Web)",
    sourceLink = 
    "https://github.com/ramvilsil/unique-image-generator-app",
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Spoken Language Translator App (Mobile)",
    sourceLink = 
    "https://github.com/ramvilsil/translator-app-ui",
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "ChatGPT Response API",
    sourceLink = 
    "https://github.com/ramvilsil/gpt-response-api"
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Online Store App (Web)", 
    imageSrc =
    "/images/rufolt-logo.png",
    textArea = 
    "Custom-built e-commerce web app with features such as product search, shopping cart, and secure checkout, developed from scratch using modern web technologies.",
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title =
    "Todo List Service API",
    sourceLink =
    "https://github.com/ramvilsil/todo-list-app-api"
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title =
    "Todo List App",
    sourceLink =
    "https://github.com/ramvilsil/todo-list-app-ui",
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Cryptocurrency Miner (Hardware)",
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Instant Messaging App (Web)",
    sourceLink = 
    "https://github.com/ramvilsil/instant-messaging-app"
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Weather App (Windows Desktop)",
    sourceLink =
    "https://github.com/ramvilsil/weather-app-desktop",
    })
    
</div>