@{
    ViewBag.Title = "Projects";
}


<div class="flex flex-col justify-center items-center gap-16">

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Spoken Language Translator App (Mobile, Android & iOS)",
    sourceLink = 
    "https://github.com/ramvilsil/translator-app-ui",
        textArea = "Coming soon..."
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "ChatGPT Client API",
    sourceLink = 
    "https://github.com/ramvilsil/gpt-response-api",
        textArea = "Coming soon..."
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Online Store App (Web)", 
    imageSrc =
    "/images/rufolt-logo.png",
    textArea = 
    "Custom-built e-commerce web app with features such as product search, shopping cart, and secure checkout, developed from scratch using modern web technologies.",
    liveLink = 
    "https://rufolt.com"
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title =
    "Todo List App API",
    sourceLink =
    "https://github.com/ramvilsil/todo-list-app-api",
        textArea = "Coming soon..."
    })

    <hr class="w-full" />

    @await Component.InvokeAsync("ProjectDisplay",
    new {
    title =
    "Todo List App UI",
    sourceLink =
    "https://github.com/ramvilsil/todo-list-app-ui",
        textArea = "Coming soon..."
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Cryptocurrency Miner (Hardware)",
    textArea = "Coming soon..."
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Instant Messaging App (Web)",
    textArea = "Coming soon..."
    })

    <hr class="w-full" />

     @await Component.InvokeAsync("ProjectDisplay",
    new {
    title = 
    "Weather App (Windows Desktop)",
    textArea = "Coming soon..."
    })
    
</div>