@await Component.InvokeAsync("SectionTitle", "Message Failed")
<div>
    Your message could not be sent.
</div>
<a asp-action="Contact" class="text-violet-600 underline underline-offset-4">
    Click here to return to the contact page.
</a>