@{
    ViewData["Title"] = "Skills";
}
<div class="flex flex-col gap-8">

    <div>
        Below, I'll be listing all the technology-related tools and concepts that I have used and have knowledge in.
    </div>

    <div class="flex flex-col gap-4">
        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Programming languages</div>
            <div class="w-3/4">C#, TypeScript, JavaScript, Python</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Programming paradigms</div>
            <div class="w-3/4">OOP (Object-Oriented Programming), FP (Functional Programming), Imperative Programming,
                Event-driven
                Programming</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">CSS preprocessors</div>
            <div class="w-3/4">SCSS, SASS</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">CSS frameworks</div>
            <div class="w-3/4">Tailwind CSS</div>
        </div>
        <div class="flex gap-4">
            <div class="w-1/4 font-medium">JavaScript Libraries</div>
            <div class="w-3/4">React.js, jQuery</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Database technologies</div>
            <div class="w-3/4">Entity Framework, LINQ, SQL, Microsoft SQL Server</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Microservices</div>
            <div class="w-3/4">REST APIs</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Mobile app development</div>
            <div class="w-3/4">React Native</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Cloud computing</div>
            <div class="w-3/4">Azure, AWS</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Digital marketing</div>
            <div class="w-3/4">SEO (Search Engine Optimization)</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">IDEs</div>
            <div class="w-3/4">Visual Studio Code, Visual Studio</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Software design patterns</div>
            <div class="w-3/4">MVC (Model-View-Controller)</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Source control</div>
            <div class="w-3/4">Git, GitHub</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Software project management methodologies, processes, & tools</div>
            <div class="w-3/4">Agile, Scrum, Azure DevOps Server, GitHub Actions (CI/CD)</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">Web hosting & domain management</div>
            <div class="w-3/4">DNS Configuration, Domain Registration, SSL Certificates</div>
        </div>

        <div class="flex gap-4">
            <div class="w-1/4 font-medium">My best friends</div>
            <div class="w-3/4">ChatGPT, GitHub Copilot</div>
        </div>

    </div>

    <div>* My skill level on every technology varies, and I'm always expanding my skillset! *</div>

    <div>
        Fueled by a passion for programming that began during my early teenage years,
        I have dedicated myself to the world of software development.
        My initial experiences in creating Python applications have
        since evolved into a diverse skillset that encompasses various
        software projects, extending beyond web-based solutions.
        I am driven by the knowledge that my contributions to software
        development can positively impact individuals across the globe.
    </div>

    <div>
        In my current work, I specialize in web application development using C#
        and JavaScript/TypeScript, with a primary focus on ASP.NET Core.
        While I have developed proficiency in these technologies, I remain committed
        to expanding my expertise by actively seeking opportunities to explore and
        adopt alternative tools and platforms.
    </div>
</div>