.markdown-content h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.markdown-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.markdown-content h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.markdown-content h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.markdown-content h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.markdown-content h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.markdown-content p {
    margin-top: 0;
    margin-bottom: 1em;
}

.markdown-content ul,
.markdown-content ol {
    margin-top: 0;
    margin-bottom: 1em;
    padding-left: 2em;
}

.markdown-content ul li,
.markdown-content ol li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.markdown-content a {
    color: #0077cc;
    text-decoration: none;
}

.markdown-content a:hover {
    text-decoration: underline;
}

.markdown-content blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 5px solid #ccc;
}

.markdown-content pre {
    font-family: monospace;
    background-color: #1c1917;
    border-radius: 0.5em;
    padding: 1em;
    overflow-x: auto;
}

.markdown-content code {
    font-family: Consolas;
    color: white;
    padding: 0.5em;
}

.markdown-content img {
    max-width: 100%;
    height: auto;
}

.markdown-content hr {
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}